@keyframes pan {
  100% {background-position: 15% 50%;}
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/bg1.svg);
  background-repeat: no-repeat;
  background-size:cover ;
  animation: pan 6s infinite alternate linear;  
  place-items: center;
  color: #26dfae;
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
.container {
  width: 1150px;
  height: 700px;
  opacity: 0.81;
  border: 15px solid #26dfae ;
  border-radius: 20px;
  position: relative;
  
}

/* 1. ORDER_TOP */
.container .top{
  position: absolute;
  top: 40px;
  left: 250px;
  font-size: 100px;
}


/* 2. WORD_MIDDLE */
.container .middle{
  position: absolute;
  top: 260px;
  left: 300px;
  font-size: 60px;
}
  /* ORDER + WORD */
  .container .top , .container .middle {
    color: pink;
    text-shadow: 0 0 15px pink, 0 0 25px  rgb(135, 42, 228);
    animation: animate 2s linear infinite;
  }


/* 3. INPUT_BOTTOM */
.container .bottom{
  position: absolute;
  top: 430px;
  left: 250px;
}
.container .bottom input {
  width: 600px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  align-items:center ;
  font-family: 'Noto Sans JP', sans-serif;
  color: #26dfae;
  margin-right: 30px;
  border: 3px solid  #9A86FD/* rgb(109, 47, 217)*/;
  border-radius: 30px  ;
  background-color: #000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 #9A86FD;
}
.container .bottom input:focus{
  color:  #26dfae;;
  transition: 1s;
  transition: 1.5s;
  border: 3px solid  #9A86FD/* rgb(109, 47, 217)*/;
  border-radius: 30px  ;
  background-color: #000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 15px 25px 0 #26dfae;
}

/* 4. BUTTON */
button {
  position: absolute;
  width: 200px;
  height: 74px;
  bottom: 20px;
  left: 470px;
  color:  #26dfae;;
  border: 6px solid #26dfae ;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  font-size: 1.5em;
  font-weight: border ;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;;
}

button:hover{
    transition: 0.5s;
    border: 6px solid pink ;
    box-shadow: 0 0 15px pink, 0 0 25px  rgb(135, 42, 228);
    color: pink;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 0 0 15px pink, 0 0 25px  rgb(135, 42, 228);
    animation: animate 2s linear infinite;
    animation-name: yureru;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

@keyframes yureru {
  0% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

